/* css/style.css */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000; /* 黒背景 */
  color: #fff;
  font-family: sans-serif;
}

h1 {
  margin: 20px 0;
}

canvas {
  background-color: #111;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
}
